.containerPaginaPublica{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;

    .containerConteudo{
        width: 100%;
    }
}