<app-pagina-publica
    textoBotaoSubmit="Login">
    <p conteudoFormulario>login works!</p>
    <app-input-publico
        imagem="assets/imagens/envelope.svg"
        placeholder="E-mail"
        tipo="email"
        [referenciaFormulario]="obterReferencia('login')"
        conteudoFormulario
    ></app-input-publico>

    <app-input-publico
        imagem="assets/imagens/chave.svg"
        placeholder="Senha"
        tipo="password"
        [referenciaFormulario]="obterReferencia('senha')"
        conteudoFormulario
    ></app-input-publico> 
</app-pagina-publica>
